<h1>Login</h1>

<%= form_with model: @user, url: logins_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
     <%= form.password_field :password %>
  </div>
  <div>
    <%=  form.submit "Login" %>
  </div>
<% end %>

<p>Don't have an account ? Please <%= link_to "Sign Up", new_registrations_path %> to create or edit Posts.</p>